.main-info {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.main-info:hover {
  color: #1F85EB;
}
.minimal {
  width: 1%;
}
.sort-link {
  color: #050202 !important;
  position: relative;
  display: block;
  padding-right: 12px;
}
.sort-link.active:before {
  content: "⌃";
  transform: rotate(180deg);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.sort-link:hover {
  color: #1F85EB !important;
  text-decoration: underline;
}
.episode-info {
  display: none;
}
.episode-info.displayed {
  display: table-row;
}
.episode-info td {
  padding: 8px !important;
}
.table.pkspr-overview .pkspr {
  vertical-align: bottom;
  width: 40px;
  height: 42px;
  display: inline-block;
}
.table.pkspr-overview .pkspr img {
  position: relative;
  left: -14px;
  top: -18px;
  image-rendering: pixelated;
}
.table.pkspr-overview .main-info td.last-episode,
.table.pkspr-overview .main-info td.last-ja,
.table.pkspr-overview .main-info td.time-ago {
  white-space: nowrap;
  width: 1%;
}
.table.pkspr-overview .last-episode {
  text-align: center;
}
.table.pkspr-overview .main-info.last td:first-child {
  border-bottom-left-radius: 3px;
}
.table.pkspr-overview .main-info.last td:last-child {
  border-bottom-right-radius: 3px;
}
.table.pkspr-overview .main-info.last.showing-episodes td:first-child,
.table.pkspr-overview .main-info.last.showing-episodes td:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.table.pkspr-overview td {
  white-space: nowrap;
}
.table.pkspr-overview td.ep-cols-container {
  white-space: normal;
}
.table.pkspr-overview .main-info.showing-episodes td {
  background-color: #ebf3fd;
}
.table.pkspr-overview .main-info.showing-episodes .name {
  font-weight: bold;
}
.t {
  border-radius: 3px;
  padding: 2px 8px;
  font-size: 13px;
  width: 58px;
  text-align: center;
  display: inline-block;
  line-height: 19px;
  mix-blend-mode: multiply;
}
.series-ep > .t,
.t.ep-series-ep,
.t.origin-kanto {
  color: #a429c1 !important;
  background-color: #f7f2f9;
}
.series-gs > .t,
.t.ep-series-gs,
.t.origin-johto {
  color: #c12950 !important;
  background-color: #f8f2f4;
}
.series-ag > .t,
.t.ep-series-ag,
.t.origin-hoenn {
  color: #e0800e !important;
  background-color: #f9f5f2;
}
.series-dp > .t,
.t.ep-series-dp,
.t.origin-sinnoh {
  color: #cdba1d !important;
  background-color: #f9f8f1;
}
.series-bw > .t,
.t.ep-series-bw,
.t.origin-unova {
  color: #6ec129 !important;
  background-color: #f5f9f2;
}
.series-xy > .t,
.t.ep-series-xy,
.t.origin-kalos {
  color: #29c195 !important;
  background-color: #f1f8f5;
}
.series-sm > .t,
.t.ep-series-sm,
.t.origin-alola {
  color: #2996c1 !important;
  background-color: #f2f7f9;
}
.series-jn > .t,
.t.ep-series-jn,
.t.origin-galar {
  color: #2961c1 !important;
  background-color: #f2f5f9;
}
.table.pkspr-overview th.center,
.table.pkspr-overview td.center {
  text-align: center;
}
.table.pkspr-overview .main-info .time-ago > span + span {
  font-size: 91%;
}
.table.pkspr-overview .episode-info .ep-cols-container {
  background: #f5f4f4;
  font-size: 13px;
}
.table.pkspr-overview .episode-info .ep-cols {
  display: flex;
}
.table.pkspr-overview .episode-info .ep-cols.general {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.table.pkspr-overview .episode-info .ep-cols.specials {
  border-top: 1px solid #e3e3e3;
  margin-top: 8px;
  padding-top: 8px;
}
.table.pkspr-overview .episode-info .ep-cols .ep-header {
  white-space: nowrap;
  min-width: 10em;
}
.table.pkspr-overview .episode-info .ep-cols .general-content {
  margin: 0;
  padding-left: 8px;
  width: 100%;
}
.table.pkspr-overview .episode-info .ep-cols .general-content ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content-header {
  padding-left: 8px;
  padding-bottom: 8px;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content + .ep-content-header {
  padding-top: 12px;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content-group {
  width: 100%;
  padding-left: 8px;
  margin: 0;
  margin-left: -8px;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content {
  margin: 0;
  padding-left: 8px;
  column-width: 60px;
  column-gap: 10px;
  width: 100%;
}
.table.pkspr-overview .episode-info .ep-cols ul.ep-content {
  margin-bottom: -3px;
}
#top .table.pkspr-overview .episode-info .ep-cols .ep-content a {
  text-decoration: none;
}
#top .table.pkspr-overview .episode-info .ep-cols .ep-content a:hover {
  text-decoration: none;
}
.table.pkspr-overview .episode-info .ep-cols.short .ep-content {
  column-width: inherit;
  column-gap: inherit;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content li {
  display: inline-block;
  width: 70px;
  margin-bottom: 3px;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content li:before {
}
.table.pkspr-overview .episode-info.last td {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.description .docs-container.closing {
  margin-top: 30px !important;
  margin-bottom: 40px !important;
}
#top .description p.bottom-line + p {
  padding-top: 12px;
}
#generation_time {
  color: #686868;
  font-size: 12px;
}
#top .small-label {
  display: none;
}
@media screen and (max-width: 872px) {
  #top .table.pkspr-overview td.time-ago {
    display: none;
  }
  #top .table.pkspr-overview td.last-ja {
    border-right: 1px solid #dedcdc;
  }
}

@media screen and (max-width: 748px) {
  #top .regular-label {
    display: none;
  }
  #top .small-label {
    display: inline;
  }
}
@media screen and (max-width: 587px) {
}
@media screen and (max-width: 700px) {
  #top .description .header p {
    width: 90%;
    margin: auto;
  }
}
