.main-info {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.main-info:hover {
  color: #1F85EB;
}
.minimal {
  width: 1%;
}
.sort-link {
  color: #050202 !important;
  position: relative;
  display: block;
  padding-right: 12px;
}
.sort-link.active:before {
  content: "⌃";
  transform: rotate(180deg);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.sort-link:hover {
  color: #1F85EB !important;
  text-decoration: underline;
}
.episode-info {
  display: none;
}
.episode-info.displayed {
  display: table-row;
}
.episode-info td {
  padding: 8px !important;
}
.table.pkspr-overview .main-info td.last-episode,
.table.pkspr-overview .main-info td.last-ja,
.table.pkspr-overview .main-info td.time-ago {
  white-space: nowrap;
  width: 1%;
}
.table.pkspr-overview .main-info.last td:first-child {
  border-bottom-left-radius: 3px;
}
.table.pkspr-overview .main-info.last td:last-child {
  border-bottom-right-radius: 3px;
}
.table.pkspr-overview .main-info.last.showing-episodes td:first-child,
.table.pkspr-overview .main-info.last.showing-episodes td:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.table.pkspr-overview td {
  white-space: nowrap;
}
.table.pkspr-overview td.ep-cols-container {
  white-space: normal;
}
.table.pkspr-overview .main-info.showing-episodes td {
  background-color: #ebf3fd;
}
.table.pkspr-overview .main-info.showing-episodes .name {
  font-weight: bold;
}
.table.pkspr-overview .main-info .series > span {
  border-radius: 3px;
  padding: 2px 8px;
  font-size: 13px;
  width: 58px;
  text-align: center;
  display: inline-block;
  line-height: 19px;
}
.table.pkspr-overview .main-info .series-ag > span {
  color: #c12950;
  background-color: #f8f2f4;
}
.table.pkspr-overview .main-info .series-dp > span {
  color: #e0800e;
  background-color: #f9f5f2;
}
.table.pkspr-overview .main-info .series-bw > span {
  color: #6ec129;
  background-color: #f5f9f2;
}
.table.pkspr-overview .main-info .series-xy > span {
  color: #29c195;
  background-color: #f1f8f5;
}
.table.pkspr-overview .main-info .series-sm > span {
  color: #2996c1;
  background-color: #f2f7f9;
}
.table.pkspr-overview .main-info .series-ep > span {
  color: #a429c1;
  background-color: #f7f2f9;
}
/* No Pokémon currently has 'ep' set as its latest series, so... might as well reuse this color. */
.table.pkspr-overview .main-info .series-ss > span {
  color: #a429c1;
  background-color: #f7f2f9;
}
.table.pkspr-overview .main-info .time-ago > span + span {
  font-size: 91%;
}
.table.pkspr-overview .episode-info .ep-cols-container {
  background: #f5f4f4;
  font-size: 13px;
}
.table.pkspr-overview .episode-info .ep-cols {
  display: flex;
}
.table.pkspr-overview .episode-info .ep-cols.specials {
  border-top: 1px solid #e3e3e3;
  margin-top: 8px;
  padding-top: 8px;
}
.table.pkspr-overview .episode-info .ep-cols .ep-header {
  white-space: nowrap;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content {
  margin: 0;
  padding-left: 20px;
  column-width: 60px;
  column-gap: 10px;
}
#top .table.pkspr-overview .episode-info .ep-cols .ep-content a {
  color: #050202;
  text-decoration: underline;
}
#top .table.pkspr-overview .episode-info .ep-cols .ep-content a:hover {
  color: #1F85EB;
  text-decoration: underline;
}
.table.pkspr-overview .episode-info .ep-cols.short .ep-content {
  column-width: inherit;
  column-gap: inherit;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content li {
  display: inline-block;
  width: 70px;
}
.table.pkspr-overview .episode-info .ep-cols .ep-content li:before {
  content: '\2022\00a0';
}
.table.pkspr-overview .episode-info.last td {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.description .docs-container.closing {
  margin-top: 30px !important;
  margin-bottom: 40px !important;
}
#top .description p.bottom-line + p {
  padding-top: 12px;
}
#generation_time {
  color: #686868;
  font-size: 12px;
}
#top .small-label {
  display: none;
}
@media screen and (max-width: 872px) {
  #top .table.pkspr-overview td.time-ago {
    display: none;
  }
  #top .table.pkspr-overview td.last-ja {
    border-right: 1px solid #dedcdc;
  }
}

@media screen and (max-width: 748px) {
  #top .regular-label {
    display: none;
  }
  #top .small-label {
    display: inline;
  }
}
@media screen and (max-width: 587px) {
}
@media screen and (max-width: 700px) {
  #top .description .header p {
    width: 90%;
    margin: auto;
  }
}
